@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

body {
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #fff;
    background-color: #1a1a1a;
    font-family:'Roboto';
    /*특정구간 스크롤 왜생기는지 모르겠음 1321~1336*/
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
}
body.menu-open {
    overflow: hidden;
}

/*header공통*/
header {
    border-bottom: 1px solid #FFC300;
}

#header {
    width: 1320px;
    margin: 0 auto;
    height: 95px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: block;
    width: 100%;
}

.gnb_left {
    height: 95px;
    display: flex;
    align-items: center;
}

.gnb_left > li {
    margin-right: 30px;
}

.gnb_left > li:first-child {
    display: none;
}

.gnb_right {
    height: 95px;
    display: flex;
    align-items: center;
}

.gnb_right > li {
    margin-left: 30px;
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.search_bar{
    background: #1a1a1a;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 95px;
    z-index: 3;
    width: 100%;
    padding: 100px 0;
    box-sizing: border-box;
}
.search_bar form{
    width: 1320px;
    margin: 0 auto;
}
.search_bar label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.search_bar input{
    width: 80%;
    padding: 10px 12px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #4B4B4B;
    outline:none;
}


@media (max-width:1320px) {
    #header {
        width: 90%;
    }
    .search_bar form{
        width: 90%;
    }
    
}

@media (max-width:600px) {
    .gnb_left > li:first-child {
        display: block;
    }

    .gnb_left > li:not(:first-child) {
        display: none;
    }

    .gnb_right > li:not(:last-child) {
        display: none;
    }

    .search_bar input{
        font-size: 1.5rem;
    }

    /*mobile_menu*/
    .menu-trigger,
    .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        z-index: 3;
    }

    .menu-trigger {
        position: relative;
        width: 21px;
        height: 20px;
    }

    .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        z-index: 2;
        background-color: #fff;
    }

    .menu-trigger span:nth-of-type(1) {
        top: 0;
    }

    .menu-trigger span:nth-of-type(2) {
        top: 10px;
    }

    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }

    .m_menu {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
        background-color: #1a1a1a;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        margin-right: 100vw;
        transition: 0.5s ease;
        text-align: center;
    }
    .m_menu li{
        width: 100%;
    }
    /* type-01 */
    /* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
    .menu-trigger.active-1 span:nth-of-type(1) {
        -webkit-transform: translateY (20px) rotate (-45deg);
        transform: translateY(10px) rotate(-45deg);
    }

    .menu-trigger.active-1 span:nth-of-type(2) {
        opacity: 0;
    }

    .menu-trigger.active-1 span:nth-of-type(3) {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-9px) rotate(45deg);
    }
}
/*m_menu글자호버*/
:root {
    --link-translate-x: 4rem;
  }
.nav__link {
    font-size: 50px;
    color: #fff;
    display: grid;
    font-style: italic;
    padding: 50px 0;
}
  .nav__link--text {
    grid-area: 1/1;
    transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .nav__link--text .word {
    white-space: nowrap;
  }
  .nav__link--text .char {
    display: inline-block;
    transform-origin: 50% 50% 0.4em;
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
    transition-delay: calc(0ms + var(--char-index) * 25ms);
    backface-visibility: hidden;
    margin: 0 -0.02em;
  }
  .nav__link--text:nth-child(1) {
    font-family: "Carentro DEMO";
    font-weight: 500;
  }
  .nav__link--text:nth-child(2) {
    font-family: "Roboto";
    font-weight: 500;
    opacity: 0;
  }
  .nav__link--text:nth-child(2) .char {
    transform: rotate3d(1, -0.5, 0, 90deg);
  }
  .nav__link:hover .nav__link--text {
    transform: translateX(var(--link-translate-x));
  }
  .nav__link:hover .nav__link--text:nth-child(1) {
    opacity: 0;
  }
  .nav__link:hover .nav__link--text:nth-child(1) .char {
    transform: rotate3d(1, 0.3, 0, -90deg);
  }
  .nav__link:hover .nav__link--text:nth-child(2) {
    opacity: 1;
  }
  .nav__link:hover .nav__link--text:nth-child(2) .char {
    transform: rotate3d(0, 0, 0, 90deg);
  }
  
  /* .support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
  }
  .support a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
  }
  .support a:hover {
    transform: scale(1.1);
  } */
  @media (max-width:450px) {
    .nav__link {
        font-size: 30px;
        padding: 30px 0;
    }
  }

/*visual공통*/
#visual {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 97px);
}

#visual video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll_down {
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: 1;
    text-align: center;
    width: 100%;
}

.motion {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #fff;
    width: 1px;
    height: 183px;
    margin-bottom: 20px;
}

#visual .scroll_down .motion::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    height: 83px;
    background: linear-gradient(to bottom, #fff, #FFC300);
    animation: motion 3s infinite;
}

@keyframes motion {
    0% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(183px);
    }
}

#visual .scroll_down .text {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width:1320px) {
    .motion {
        height: 153px;
    }
}

@media (max-width:600px) {
    .motion {
        height: 123px;
    }
}

#container{
    overflow: hidden;
}

/*section1 공통*/
#section1 {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    margin-bottom: 50px;
}

#section1 .text_box h2 span {
    font-family: 'Luxurious Script';
    font-size: 80px;
    line-height: 96px;
    font-weight: 100;
}

.menu_title {
    font-family: 'Carentro DEMO';
    font-size: 30px;
    font-weight: 200;
    line-height: 40px;
}

#section1 .text_box p {
    padding: 20px 0 30px;
}

#section1 .text_box a {
    display: inline-block;
    width: 200px;
    height: 20px;
}

.arrow_btn::after {
    content: '';
    display: inline-block;
    background: url(../images/arrow_btn.svg) no-repeat right center;
    width: 35px;
    height: 20px;
    padding-left: 17px;
    vertical-align: top;
}

#section1 .photo_box {
    width: 65%;
}

#section1 .photo_box img {
    display: block;
    width: 100%;
}

@media (max-width:1320px) {
    #section1 {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    #section1 .text_box {
        width: 100%;
    }

    #section1 .text_box .btn_wrap {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -80px;
        z-index: 1;
    }
}

@media (max-width:600px) {
    #section1 .photo_box {
        width: 100%;
    }

    #section1 .text_box p span {
        display: none;
    }
}
@media (max-width:500px) {
    #section1 .text_box h2 span {
        font-size: 75px;
    }
    
    .menu_title {
        font-family: 'Carentro DEMO';
        font-size: 25px;
    }
}

/*section2공통*/
#section2 {
    width: 1320px;
    margin: 0 auto;
    padding-top: 200px;
}

.frame::before {
    content: '';
    display: inline-block;
    background:
        url(../images/left_vintage_frame.svg) no-repeat left center;
    width: 81px;
    height: 23px;
    padding-right: 35px;
}

.frame::after {
    content: '';
    display: inline-block;
    background:
        url(../images/right_vintage_frame.svg) no-repeat right center;
    width: 81px;
    height: 23px;
    padding-left: 35px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

#section2 .title a {
    display: inline-block;
    width: 250px;
    height: 20px;
}

/*swiper*/
.swiper-wrapper {
    padding: 30px 0 20%;
}
.swiper-slide{
    position: relative;
}

.swiper-slide a .photo_box{
    overflow: hidden;
    -webkit-box-reflect: below 10px linear-gradient(transparent 60%, rgba(0, 0, 0, 0.1)) 40%;
}
.swiper-slide a img{
    display: block;
    width: 100%;
   
    transition: transform 0.5s ease;
}
.swiper-slide:hover a img{
    transform: scale(1.2);
}
.swiper-slide-next a, .swiper-slide-prev a{
    display: block;
    opacity: 0.5;
}

.swiper-slide p{
    width: 95%;
    position: absolute;
    left: 0;
    bottom: 5%;
    z-index: 1;
    text-align: left;
    padding-left: 20px;
}

.swiper-slide p{
    padding-top: 20px;
}
.swiper-slide p span{
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:1320px) {
    #section2 {
        width: 100%;
        position: relative;
        text-align: center;
    }

    #section2 .title{
        display: inline-block;
        width: 90%;
    }

    #section2 .title .btn_wrap {
        width: 100%;
        position: absolute;
        left: 0;
        top: 82%;
        z-index: 2;
    }
    
}
@media (max-width:1000px){
    #section2 .title .btn_wrap {
        top: 84%;
    }

}
@media (max-width:900px){
    #section2 .title .btn_wrap {
        top: 84%;
    }

}

@media (max-width:800px){
    #section2 .title .btn_wrap {
        top: 80%;
    }

    .swiper{
        padding: 0 100px;
    }

    .swiper-wrapper {
        padding: 30px 0 56%;
    }
    #section2 .title .btn_wrap {
        top: 84%;
    }
}

@media (max-width:600px) {
    #section2{
        padding-top: 120px;
    }
    .swiper{
        padding: 0 70px;
    }

    .swiper-wrapper {
        padding: 30px 0 56%;
    }

    #section2 .title .btn_wrap {
        top: 80%;
    }

}
@media (max-width:500px) {
    .frame::before {
        background-size: 60px;
        width: 48px;
        padding-right: 25px;
    }

    .frame::after {
        background-size: 60px;
        width: 48px;
        padding-left: 25px;
    } 

    .swiper{
        padding: 0 40px;
    }

    .title h2{
        font-size: 25px;
    }
    #section2 .title .btn_wrap {
        top: 82%;
    }

}
@media (max-width:400px) {
    .swiper{
        padding: 0 20px;
    }
}

/*section3공통*/
#section3 {
    width: 1320px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
}
#section3 .bg{
    flex: 1;
}
#section3 .bg img {
    display: block;
    width: 100%;
}

#section3 .right_bg_wrap {
    position: relative;
}

.cover {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(187, 187, 187, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section3 .cover .info {
    display: flex;
    width: 300px;
    line-height: 30px;
}

#section3 .cover .sub_title {
    font-size: 20px;
    border-bottom: 1px solid #fff;
    padding: 30px 0 8px 0;
    margin-bottom: 8px;
    width: 450px;
}

#section3 .cover .info li {
    flex: 1;
}

#section3 .cover .info li:first-child {
    border-right: 1px solid #fff;
    margin-right: 20px;
}

#section3 .cover .arrow_btn {
    display: inline-block;
    margin-top: 30px;
}

@media (max-width:1320px) {
    #section3 {
        width: 100%;
    }

    #section3 .cover .text_box {
        width: 260px;
        overflow: hidden;
    }

    .cover h2 {
        text-align: center;
    }

    .btn_wrap {
        text-align: center;
    }
}

@media (max-width:800px) {
    #section3 {
        flex-wrap: wrap;
    }

    #section3 .bg{
        flex: 0 0 100%;
    }

    #section3 .cover .text_box {
        width: 450px;
    }

    #section3 .cover h2 {
        font-size: 30px;
    }

    #section3 .cover .sub_title {
        font-size: 20px;
        padding: 50px 0 12px 0;
    }

    #section3 .cover .info {
        width: 500px;
        line-height: 35px;
    }

    #section3 .cover .arrow_btn {
        margin-top: 50px;
    }
}

@media (max-width:600px) {
    #section3 .cover .text_box {
        width: 300px;
    }

    #section3 .cover h2 {
        font-size: 30px;
    }

    #section3 .cover .sub_title {
        font-size: 20px;
        padding: 30px 0 8px 0;
    }

    #section3 .cover .info {
        width: 300px;
        line-height: 35px;
    }

    #section3 .cover .arrow_btn {
        margin-top: 30px;
    }
}

@media (max-width:500px) {
    #section3 .cover .text_box {
        width: 250px;
    }

    #section3 .cover h2 {
        font-size: 25px;
    }

    #section3 .cover .sub_title {
        font-size: 20px;
        padding: 10px 0 8px 0;
    }

    #section3 .cover .info {
        width: 300px;
        line-height: 25px;
    }

    #section3 .cover .arrow_btn {
        margin-top: 20px;
    }
}

/*section4공통*/
#section4 {
    width: 1320px;
    margin: 0 auto;
    padding: 150px 0 200px;
}

#section4 .title a {
    display: inline-block;
}

.collections {
    height: 1422px;
    display: grid;
    grid-column-gap: 47px;
    grid-row-gap: 70px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    padding: 50px 0;
}

.collections .grid-item .photo_box{
    overflow: hidden;
}
.collections .grid-item .photo_box img {
    display: block;
    width: 100%;
    transition: transform 0.5s ease;
}
.collections .grid-item .photo_box img:hover{
    transform: scale(1.2);
}

.collections .grid-item p {
    line-height: 17px;
    padding-top: 20px;
}

.collections .grid-item p spen {
    font-size: 20px;
    font-weight: 500;
}

#section4 .more_btn {
    text-align: center;
    margin-top: 40px;
}

#section4 button {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid #FFC300;
}

@media (max-width:1320px) {
    #section4 {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 200px;
        text-align: center;
    }

    #section4 .title {
        display: inline-block;
    }

    #section4 .title h2 {
        width: 100%;
        padding-bottom: 25px;
    }

    #section4 .title .btn_wrap {
        width: 100%;
    }

    #section4>p {
        text-align: center;
    }

    .collections {
        height: auto;
        grid-template-columns: repeat(2, 1fr);
    }
    .collections p{
        text-align: left;
    }
    .grid-item:nth-child(n+5){
        display: none;
    }

}

@media (max-width:600px) {
    #section4{
        padding: 150px 0 200px;
    }
    .collections {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-item:nth-child(n+3){
        display: none;
    }
}

/*contact 공통*/
#contact {
    height: 400px;
    position: relative;
}

.contact_bg_wrap{
    clip: rect(0, auto, auto, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.contact_bg{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-position: center center;
}
.contact_inner {
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

.contact_inner p {
    width: 100%;
    padding-bottom: 20px;
}

.contact_inner p span {
    font-size: 31px;
    font-weight: bold;
    line-height: 35px;
}

.contact_inner button {
    background: radial-gradient(#fff, #FFC300);
    padding: 9px 21px;
    border-radius: 50px;
    color: #000;
    font-weight: bold;
}

@media (max-width:1320px) {
    .contact_inner {
        width: 100%;
    }
}

/*footer공통*/
footer {
    text-align: center;
    padding: 50px 0 0;
}

#footer_inner {
    width: 1320px;
    margin: 0 auto;
}

footer .footer_logo {
    display: inline-block;
    width: 250px;
}

footer img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

footer ul {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    width: 28px;
    height: 28px;
    border: 1px solid #4B4B4B;
    border-radius: 50%;
    padding: 20px;
    margin: 0 10px;
    transition: border 0.5s ease;
}

footer ul li:hover {
    border: 1px solid #fff;
}

footer p {
    color: #4B4B4B;
    border-bottom: 1px solid #FFC300;
    padding-bottom: 20px;
}

footer .copyright {
    color: #fff;
    border-bottom: none;
    padding: 20px 0;
}

@media (max-width:1320px) {
    #footer_inner {
        width: 100%;
    }

}

@media (max-width:600px) {
    footer .footer_logo {
        width: 40%;
    }

    footer ul li {
        width: 18px;
        height: 18px;
        padding: 10px;
    }
}
.scroll_top{
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.scroll_top svg{
    width: 20px;
    height: 20px;
}
